<% layout('layouts/boilerplate') %>
    <!-- Jumbotron -->
    <div class="jumbotron text-white my-5">
      <h1 class="display-4 m-4" style="font-weight: 500;"><span>Medicare <i class="fas fa-plus-circle"></i></span>
      </h1>
      <p class="lead text-justify m-4" style="font-weight: 400;">
        On an average, 1 in 8 women will develop breast cancer in their lifetimes. <br>
        We at Medicare Plus are all about changing that statistic and providing a one stop solution to a
        breast
        cancer-free life.
        We provide the best resources for online and in-clinic consultations, booking screening tests and
        connecting
        you with the nearest pharmacies for all your medical needs.
      </p>
      <a class="btn btn-lg bg-sunglow m-4" href="/about">Learn more</a>
    </div>

    <!-- Features card -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex align-items-stretch">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="assets/doctors.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Doctors</h5>
            <p class="card-text mb-2">Book an in-clinic appointment with the top doctors near you, completely hassle
              free.</p>
            <a href="/doctors" tgt="Doctors" class="btn bg-teal">Find Doctors</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="assets/consult.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Consult</h5>
            <p class="card-text mb-2">Consult with Medicare Plus cancer specialists online via chat or video.</p>
            <a href="/consults" tgt="Consult" class="btn bg-teal">Book Consult</a>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card h-100">
          <img src="assets/pharma.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Pharmaceuticals</h5>
            <p class="card-text mb-2">Find pharmacies near you, and get the medicines delivered to your door.</p>
            <a href="#" tgt="Pharmacy" class="btn bg-teal">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card h-100">
          <img src="assets/diagnostic.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Diagnostics</h5>
            <p class="card-text mb-2">Book home-collections and on-site medical tests from labs near you.</p>
            <a href="/diagnostics" tgt="Diagnostics" class="btn bg-teal">Book Test</a>
          </div>
        </div>
      </div>
    </div>