
body{
    padding-top: 56.35px;
}

.bg-black,
.bg-black:hover,
.bg-teal:hover {
    color: white;
    background-color: #000a17;
    border-color: #000a17;
    outline-color: #000a17;
    box-shadow: none;
}

.bg-teal,
.bg-sunglow:hover {
    color: white;
    background-color: #253d41;
    border-color: #253d41;
    outline-color: #253d41;
    box-shadow: none;
}

.bg-sunglow:focus,
.bg-teal:focus {
    box-shadow: none;
}

.bg-sunglow {
    color: black;
    background-color: #ffcc00;
    border-color: #ffcc00;
    outline-color: #ffcc00;
    box-shadow: none;
}

a {
    cursor: pointer;
}

.highlight {
    background-color: #2b2e31;
}

.modal { top: 13vh; }

.jumbotron {
    background-image: url('../assets/bg.jpg');
    background-color: #0000009c;
    background-blend-mode:overlay;
    background-position:center;
    background-attachment:fixed;
    background-size: cover;
    border-radius: 0;
    padding: 4rem;
}

h1.display-4{
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255,255,255,0.3);
}


.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body .card-text {
    height: 15vh;
}

.doc-card{
    display: flex;
    align-items: center;
}

.doc-img {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(20%) sepia(15%) saturate(1177%) hue-rotate(141deg) brightness(89%) contrast(88%);
}

.doc-img img {
    max-width: 102%;
    max-height: 102%;    
}

.doc-card .doc-info {
    width: 40%;
}

.doc-ratings {
    display: flex;
}

.clip-star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.filled-star {
    background: #ffcc00;
}

.unfilled-star {
    background: lightgray;
    border: 1px solid #253d41;
}

.doc-card .doc-book {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.doc-card .doc-slots {
    width: 45%;
    padding: 3px;
}

.doc-show .doc-info {
    width: 30%;
}